<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find dummy_robot_control)/config/dummy_robot_controller.yaml" />

  <node name="dummy_robot_control" pkg="dummy_robot_control" type="dummy_robot" output="screen">
      <rosparam file="$(find dummy_robot_control)/config/robot_config.yaml" command="load"/>
  </node>


</launch>
